
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    color: #707070;
}

header {
    background: #f8f8f8;
    text-align: center;
    padding: 2em 0;
}

h1,
h2,
h3 {
    margin-top: 0;
}

/* Typography */

h1 {
    color: #143774;
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

footer {
    background: #143774;
    text-align: center;
    padding: 3em 0;
    color: white;
}

strong {
    font-weight: 700;
}

.subtitle {
    margin: 0;
    color: #1792D2;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Layout */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 675px) {
    .container-flex {
        flex-direction: row;
    }

    .left-section {
        width: 70%;
    }

    .sidebar {
        width: 25%;
        min-width: 200px;
        margin-left: 1em;
    }
}

/* Navigation */

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #707070;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 0.25em 0;
}

nav a:hover,
nav a:focus{
    color: #1792D2;
}

.current-page {
    border-bottom: 1px solid #707070;
}
.current-page:hover,
.current-page:focus{
    color: #707070;
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin: 0.5em 0;
    }
}

/* Main */

main {
    margin: 2em 0;
}

/* Left section */

.main-card {
    border-bottom: 1px solid #707070;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.article-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2em;
}

.main-article-info {
    order: 2;
}

.secondary-article-info {
    order: 1;
}

@media (min-width: 675px) {
    .main-card-image {
        order: -2;
    }
    .data {
        order: -1;
    }
    .article-image {
        min-height: 250px;
        object-fit: cover;
    }
    .plant {
        object-position: left;
    }
    .article-card {
        flex-direction: row;
    }
    .main-article-info {
        width: 65%;
    }
    .secondary-article-info {
        width: 30%;
    }

}

.data {
    font-size: 0.75rem;
}

h2 {
    color: #143774;
    font-weight: 400;
}

.continue-read{
    color: #1792D2;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 0.85rem;
}

.continue-read:hover,
.continue-read:focus {
    text-decoration: underline;
    color: #143774;
}

.link-simple{
    color: #1792D2;
}

/* Right section */
.small-card {
    border: 1em solid rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin-bottom: 2em;
}

.recent-post {
    border-bottom: 1px solid #707070;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.recent-image {
    height: 150px;
    object-fit: cover;
    order: -1
}

.chair {
    object-position: bottom;
}

@media (min-width: 675px) {
    .recent-image {
        height: inherit;
    }
}

.image-about-me {
    max-height: 300px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.recent-post:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.small-card-main-title {
    color: #143774;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.recent-title {
    color: #143774;
    font-size: 1rem;
    font-weight: 400;
}


/* about me */

.about-me-title {
    margin-top: 2em;
}

.about-me-subtitle {
    color: #1792D2;
    font-weight: 400;
}

.about-me-text {
    color: black;
}